.root {
  background-color: var(--color-primary);
  border: none;
  font-size: 1rem;
  padding: var(--spacing-sm) var(--spacing-lg);
  color: var(--color-white);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  outline: solid 2px transparent;
  outline-offset: -2px;
  text-transform: capitalize;
  transition:
    background-color 0.3s ease,
    outline-offset 0.3s ease,
    outline 0.3s ease;

  &:hover {
    background-color: var(--color-primary);
    transition:
      background-color 0.3s ease,
      outline-offset 0.3s ease;
    outline: solid 2px var(--color-primary);
    outline-offset: 2px;
  }
}
